#newsinfo {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; BACKGROUND: #ffffff; MARGIN: 0px auto; WIDTH: 980px; LINE-HEIGHT: 22px; FONT-FAMILY: "宋体"; TEXT-ALIGN: left
}
/*左侧栏目*/
.b190{ FLOAT: left; width:198px;MARGIN: 0px 20px 0px auto;*MARGIN: 0px 10px 0px auto!important; }
.gundnews{	BORDER-RIGHT: #c6d8e0 1px solid; BORDER-TOP: #c6d8e0 1px solid; BACKGROUND: #f5f8fc; FLOAT: left; BORDER-LEFT: #c6d8e0 1px solid; WIDTH: 208px; height:260px;BORDER-BOTTOM: #c6d8e0 1px solid; TEXT-ALIGN: left;}
.gundnew_z{	PADDING-RIGHT: 0px; PADDING-LEFT: 8px; BACKGROUND: url({maccms:templatepath}images/lanbj.gif) repeat-x left top; height:26px;PADDING-BOTTOM:0px; PADDING-TOP:0px; BORDER-BOTTOM: #c6d8e0 1px solid}
.gundnew_z span A {font-weight:bold; line-height:27px;color:#16387c;font-size:14px}
.gundnew li A{	COLOR: #16387c; TEXT-DECORATION: none;}
.gundnew li A:hover {	COLOR: #b00505; TEXT-DECORATION: underline}

.hongka { float:left;width:100%; color:#16387c;font-size:14px; line-height:27px;BACKGROUND: url({maccms:templatepath}images/lanbj.gif) repeat-x left top; height:26px;BORDER-BOTTOM: #c6d8e0 1px solid}
.hongka li A {PADDING-RIGHT:0px; PADDING-LEFT:2px; FLOAT: left; MARGIN: 0px; COLOR: #20356c; TEXT-ALIGN: center; TEXT-DECORATION: none;font-size:14px;line-height:27px;}
.hongka li A:hover {COLOR: #b00505;font-size:14px; TEXT-DECORATION: underline}

/*左侧栏目广告*/
.ima190x60 { FLOAT: left;width:190px;heigth:60px;padding:6px 0 6px 0;display:inline}
.pa{margin-top:6px}
/*栏目中部*/
.b375{  FLOAT: left; width:375px;MARGIN: 0px 10px 0px auto;*MARGIN: 0px 10px 0px auto!important;LINE-HEIGHT: 24px;*LINE-HEIGHT: 24px;_LINE-HEIGHT: 24px; }

#kand{ FLOAT: left;	BORDER-RIGHT: #c6d8e0 1px solid; BORDER-TOP: #c6d8e0 1px solid; BACKGROUND: #fff;  BORDER-LEFT: #c6d8e0 1px solid; WIDTH: 373px;height:236px; BORDER-BOTTOM: #c6d8e0 1px solid; TEXT-ALIGN: left;}
.img01{ WIDTH: 355px; height:195px;TEXT-ALIGN: left;margin:10px 10px 10px 10px;*MARGIN: 10px 10px 10px 10px!important;*MARGIN: 10px 10px 2px 10px;}
.img01 a{ 	COLOR: #16387c; TEXT-DECORATION: none}
.img01  A:hover {	COLOR: #b00505; TEXT-DECORATION: underline}
.p_n_text {FLOAT: left; WIDTH: 250px; PADDING-TOP: 1px; TEXT-ALIGN: left}
.p_n_page {FLOAT: right; WIDTH: 105px; PADDING-TOP: 4px; TEXT-ALIGN: right}

#kuniaos_com{ FLOAT: left;	BORDER-RIGHT: #c6d8e0 1px solid; BORDER-TOP: #c6d8e0 1px solid; BACKGROUND: #fff; BORDER-LEFT: #c6d8e0 1px solid; 
WIDTH: 373px; BORDER-BOTTOM: #c6d8e0 1px solid; TEXT-ALIGN: left;margin:8px 0px 6px 0px;*margin:10px 0px 6px 0px;_margin:10px 0px 6px 0px;}
.kuniaos_com_z{	PADDING-RIGHT: 0px; PADDING-LEFT: 8px; BACKGROUND: url({maccms:templatepath}images/lanbj.gif) repeat-x left top; height:26px;PADDING-BOTTOM:0px; PADDING-TOP:0px; BORDER-BOTTOM: #c6d8e0 1px solid}
.kuniaos_com_z span A {font-weight:bold; line-height:27px;color:#16387c;font-size:14px}
.kuniaos_com li A{	COLOR: #16387c; TEXT-DECORATION: none}
.kuniaos_com li A:hover {	COLOR: #b00505; TEXT-DECORATION: underline}

#kuniaos_com1{ FLOAT: left;	BORDER-RIGHT: #c6d8e0 1px solid; BORDER-TOP: #c6d8e0 1px solid; BACKGROUND: #fff; BORDER-LEFT: #c6d8e0 1px solid; 
WIDTH: 373px; height:260px; BORDER-BOTTOM: #c6d8e0 1px solid; TEXT-ALIGN: left;margin:0px 0px 6px 0px;*margin:0px 0px 6px 0px;_margin:0px 0px 6px 0px;LINE-HEIGHT: 24px;*LINE-HEIGHT: 24px;_LINE-HEIGHT: 24px;}
.kuniaos_com1_z{	PADDING-RIGHT: 0px; PADDING-LEFT: 8px; BACKGROUND: url({maccms:templatepath}images/lanbj.gif) repeat-x left top; height:26px;PADDING-BOTTOM:0px; PADDING-TOP:0px; BORDER-BOTTOM: #c6d8e0 1px solid}
.kuniaos_com1_z span A {font-weight:bold; line-height:27px;color:#16387c;font-size:14px}

.hljpl{WIDTH: 365px;PADDING-RIGHT: 0px; PADDING-LEFT: 8px; BACKGROUND: url({maccms:templatepath}images/lanbj.gif) repeat-x left top; height:26px;PADDING-BOTTOM:0px; PADDING-TOP:0px; BORDER-BOTTOM: #c6d8e0 1px solid}
.h_1{width:300px;float:left;font-weight:bold; line-height:27px;color:#16387c;font-size:14px}
.h_2{width:65px;float:right;font-size:12px;color:#d20202}
.hlj {MARGIN-TOP:0px; *MARGIN-TOP:2px;_MARGIN-TOP:2px;BACKGROUND: url({maccms:templatepath}images/right_line2.gif) no-repeat center bottom; PADDING-TOP:0px;}
.more { color:#d20202; margin-top:0px; padding-right:5px;padding-left:0px;}
.more a:link,.more a:visited,.more a:active,.more a:hover{ font-size:12px;color:#d20202;font-weight:bold;}

/*右侧栏目*/
.r375{  FLOAT: left; width:375px;*width:375px!important;*width:371px;MARGIN: 0px 0px 0px auto;*MARGIN: 0px 0px 0px auto!important;LINE-HEIGHT: 24px;*LINE-HEIGHT: 24px;_LINE-HEIGHT: 24px; }

#right{	BORDER-RIGHT: #c6d8e0 1px solid; BORDER-TOP: #c6d8e0 1px solid; BACKGROUND: #fff; FLOAT: left; MARGIN: 0px 0px 0px auto; BORDER-LEFT: #c6d8e0 1px solid;  width:373px;*width:373px!important;*width:371px; BORDER-BOTTOM: #c6d8e0 1px solid; TEXT-ALIGN: left;}
.right_z{	PADDING-RIGHT: 0px; PADDING-LEFT:0px; BACKGROUND: url({maccms:templatepath}images/lanbj.gif) repeat-x left top; height:26px;PADDING-BOTTOM:0px; PADDING-TOP:0px; BORDER-BOTTOM: #c6d8e0 1px solid}

/*760x60广告*/
.t760x60{  FLOAT: left; width:760px;height:60px;margin:0px 0px 0px 0px;*margin:6px 0px 0px 0px;_*margin:0px 0px 0px 0px;display:inline }


.imgArea {width:371px;
	BACKGROUND: url({maccms:templatepath}images/right_line2.gif) no-repeat center bottom; HEIGHT: 108px; 
}
.imgRArea ul{ FLOAT: left; PADDING-TOP: 4px}
.imgRArea ul li {FLOAT: right; PADDING-TOP: 4px}

.imgLAreapic {FLOAT: left; WIDTH: 120px; PADDING-TOP: 0px; HEIGHT: 80px; TEXT-ALIGN: center;margin:8px 6px 0px 6px;*margin:8px 6px 0px 6px;_margin:8px 4px 0px 4px;}
.imgLAreapic IMG {BORDER-RIGHT: #dddddd 1px solid; BORDER-TOP: #dddddd 1px solid; MARGIN-BOTTOM: 2px; BORDER-LEFT: #dddddd 1px solid; WIDTH: 120px; BORDER-BOTTOM: #dddddd 1px solid; HEIGHT: 60px}
.imgLAreapic A.t {DISPLAY: block; FONT-SIZE: 12px; BACKGROUND: #f1f1f1; MARGIN: 0px auto; WIDTH: 120px; COLOR: #333; LINE-HEIGHT: 20px; HEIGHT: 21px}