.kuniao_bordA,.bordB{border:1px #c5c5c5 solid;background:#fff;}
.pbd{padding:1px;border:1px solid #c5c5c5;background:#fff;}
a:hover .pbd{border-color:#dd0d0b;}

.kuniao_pp,.pt,.list12 ul,.list14 ul{width:100%;margin:0 auto;}
.kuniao_pp:after,.pt:after,.area:after,.clear:after{content:".";display:block;visibility:hidden;height:0;clear:both;}
.kuniao_pp{width:940px;overflow:hidden;}
.kuniao_pp ul{width:956px;}
.kuniao_blockA .kuniao_pp2{margin:0 auto 0;padding-top:20px;}
.kuniao_blockA .kuniao_pp2 ul,.kuniao_blockA .kuniao_pp3 ul {width: 960px;}


.pt{line-height:20px;text-align:left;}
.pt div{float:left;margin:0 10px 0 0;}			
.pt p{clear:none;}
.pt div img,.kuniao_pp img,.pic img{border:1px #c5c5c5 solid;padding:1px}
.pt div a:hover img,.kuniao_pp a:hover img,.pic a:hover img{border:1px #dd0d0b solid}

.kuniao_pp li{position:relative;width:210px;height:188px;margin-right:29px;line-height:18px;text-align:left;float:left;display:inline;}
.kuniao_pp li.end{margin:0;}
.kuniao_pp span{margin:7px 0 0;display:block;line-height:18px;}
.kuniao_pp span strong{display:block;font-weight:normal;margin:0 auto 2px;color:#4b4b4b;overflow:hidden;height:36px;}
.kuniao_pp .end{margin:0}
.kuniao_pp .label{position:absolute;top:62px;left:2px;height:15px;width:103px;margin:0 auto;color:#FFF;line-height:14px;text-align:right;padding:3px 2px 0 0}
.kuniao_pp .label i{position:absolute;height:18px;width:105px;left:0;top:0;background:#000;filter:alpha(opacity=60);opacity: 0.60;}
.kuniao_pp .label code{background:url(q_c.gif) no-repeat;z-index:20;display:block;width:27px;height:16px;position:absolute;top:1px;left:1px;}
.kuniao_pp .label code.ch{background:url(q_g.gif) no-repeat;}
.kuniao_pp .label em{position:relative;z-index:2;color:#FFF}
.kuniao_pp .bp{top:129px}

.kuniao_blockA .more{overflow:hidden;background:#f6f6f6;height:37px;}
.kuniao_blockA .more table{float:right;margin:5px 10px 5px 0;}


