<li><a href="{maccms:searchlink}?starring=成龙">成　龙</a></li>
<li><a href="{maccms:searchlink}?starring=李连杰">李连杰</a></li>
<li><a href="{maccms:searchlink}?starring=洪金宝">洪金宝</a></li>
<li><a href="{maccms:searchlink}?starring=甄子丹">甄子丹</a></li>
<li><a href="{maccms:searchlink}?starring=元彪">元　彪</a></li>
<li><a href="{maccms:searchlink}?starring=元华">元　华</a></li>
<li><a href="{maccms:searchlink}?starring=贾静雯">贾静雯</a></li>
<li><a href="{maccms:searchlink}?starring=章子怡">章子怡</a></li>
<li><a href="{maccms:searchlink}?starring=范冰冰">范冰冰</a></li>
<li><a href="{maccms:searchlink}?starring=周星驰">周星驰</a></li>
<li><a href="{maccms:searchlink}?starring=刘德华">刘德华</a></li>
<li><a href="{maccms:searchlink}?starring=陈道明">陈道明</a></li>
<li><a href="{maccms:searchlink}?starring=李丽珍">李丽珍</a></li>