<style type="text/css">
body,td{font-size: 13px;color:#333333;font-family:"宋体";margin:0;font:13px "Lucida Grande", Verdana, Lucida, Helvetica, Arial, "宋体", sans-serif}
input{ background:#F9F9F9;color:#555;font:13px "Lucida Grande", Verdana, Lucida, Helvetica, Arial, "宋体", sans-serif; border-color:#666 #ccc #ccc #666; border:1px solid;}
</style>

<table cellpadding="0" cellspacing="0" border="0" width="250px" height="138px">
	<tr>
	<td width="98" height="30px" align="right">用户帐号：</td>
	<td width="152" height="30px" align="left">{maccms:username}</td>
	</tr>
	<tr>
	<td height="30px" align="right">用户等级：</td>
	<td height="30px" align="left">{maccms:usergroupname}</td>
	</tr>
	<tr>
	<td height="30px" align="right">积分数量：</td>
	<td height="30px" align="left">{maccms:userpoints}</td>
	</tr>
	<tr>
	<td colspan="2" align="center" height="30px">
	<strong><a href="{maccms:userlogoutlink}"><font color="#4050E3" style="font-size:12px;">退出登录</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="{maccms:userlink}" target="_blank"><font color="red" style="font-size:12px">管理中心</font></a>                      </strong></td>
	</tr>
</table>