<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>正在播放 [vodinfo:name] - [vodinfo:typename] - {maccms:name}</title>
<base target="_self">
<script>var maccms_path='{maccms:path}';</script>
<script src="{maccms:path}js/jquery.js"></script>
<script src="{maccms:path}js/function.js"></script>
<script src="{maccms:path}js/player.js"></script>
</head>
<body>
[playinfo:info]
[playinfo:player]
</body>
</html>