*{font-size:12px; font-family:Tahoma,Verdana,微软雅黑,新宋体}
html,body{height:100%}
body{background:#fffff;}
a{ color:Black; text-decoration:none;}
a:hover{ color:Red; text-decoration:underline;}
ul{list-style:none}
table{border-collapse:collapse}

.head a{color:White;text-decoration:underline;}
.footer{text-align:center;color:#15428B; margin:0px; padding:0px;line-height:23px; font-weight:bold;}

.easyui-accordion ul{list-style-type:none;margin:0px; padding:10px;}
.easyui-accordion ul li{ padding:0px;}
.easyui-accordion ul li a{line-height:24px;}
.easyui-accordion ul li div{margin:2px 0px;padding-left:10px;padding-top:2px;}
.easyui-accordion ul li div.hover{border:1px dashed #99BBE8; background:#E0ECFF;cursor:pointer;}
.easyui-accordion ul li div.hover a{color:#416AA3;}
.easyui-accordion ul li div.selected{border:1px solid #99BBE8; background:#E0ECFF;cursor:default;}
.easyui-accordion ul li div.selected a{color:#416AA3; font-weight:bold;}

.tb{clear:both;width:98%;margin:0 auto;padding-top:20px;border-top:4px solid #DEEFFA;border-bottom:4px solid #DEEFFA;}
.tb th, .tb td{padding:4px 4px;background:#fff;border-top:1px solid #DEEFFA; border-bottom:1px solid #DEEFFA;}
.thead td,.thead th{background:transparent url(bg_repx_hc.gif) repeat-x scroll 0 -40px;padding:2px;color:#0099CC;font-weight:700;line-height:21px;height:25px;border-top:1px solid #DEEFFA;font-size:12px}
.tb tr:hover{color:#333}

.tb2{clear:both;width:100%}
.tb2 th, .tb2 td{padding:0px;background:#fff;border-top:0px solid #DEEFFA; border-bottom:1px solid #DEEFFA;}
.tb2 tr:hover{color:#333}

.selected { background:#aaaaaa;}
.odd {background:#DEEFFA;}
.highlight{background:#f1f1f1;}

#htmltabs{width:100%; overflow:hidden;padding:8px 0 0;font-weight:700}
#htmltabs li{float:left;margin-left:20px; display:inline;height:26px; line-height:25px;padding:0 8px;}
#htmltabs li.hover{background:#DEEFFA}
#htmltabs a{text-decoration:underline;}
#htmltabs li.hover a{text-decoration:none;}

.page { border : 1px solid #D2E0F2;	 padding-left : 4px; padding-right : 4px; padding-top : 2px;	text-decoration : none; } 
.pagein { background-color : #fee; border : 1px solid red; color : red; padding-left : 4px; padding-right : 4px; padding-top : 2px; text-decoration : none; } 
.error {color: red;	font-style: italic;	font-weight: normal;}

.nav{margin-top:1px; margin-bottom:1px;width:96%;}
.nav a,.menulist a:visited{ font-size:13px; color:blue;}
.nav ul { width:100%;}
.nav .spanli{ background:#2473A2; }
.nav ul li{ float:left; width:110px; text-align:left}

#showpic {position:absolute; width:75; height:75; text-align:center; line-height:150%; border:2px solid #DEEFFA; padding:5px; background:#FFFFFF;}

.Update{width:600px;border:solid #c8d8e6 1px;background:#ffffff;margin:20px auto;padding:10px;clear: both;}
.Update h1{border-bottom:1px solid #c8d8e6;font-size:14px;line-height: 25px;font-weight: bold;}
.Update  textarea{width:590px;border:1px solid #C8E9FF;font-size:12px;line-height: 20px;color: #000;padding: 5px;}

