
.star-rating,
.star-rating a:hover,
.star-rating a:active,
.star-rating a:focus,
.star-rating .current-rating{
	background: url(rater/star.gif) left -1000px repeat-x;
	padding:0px;
	border:0px;
}
.star-rating{
	position:relative;
	height:25px;
	overflow:hidden;
	margin:0;
	padding:0;
	background-position: left top;
}
.star-rating li{
	display: inline;
}
.star-rating a,
.star-rating .current-rating{
	position:absolute;
	top:0;
	left:0;
	text-indent:-1000em;
	height:25px;
	line-height:25px;
	outline:none;
	overflow:hidden;
	border: none;
}
.star-rating a:hover,
.star-rating a:active,
.star-rating a:focus{
	background-position: left center;
}
.star-rating .current-rating{
	z-index:1;
	background-position: left bottom;
}

.inline-rating{
	display:-moz-inline-block;
	display:-moz-inline-box;
	display: inline-block;
	vertical-align: middle;
}

.small-star{
	height:10px;
}
.small-star,
.small-star a:hover,
.small-star a:active,
.small-star a:focus,
.small-star .current-rating{
	background-image: url(rater/star_small.gif);
	line-height: 10px;
	height: 10px;
	padding:0px;
	border:0px;
}