fhtml { color:#000; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
fieldset, img { border:0; }
address, caption, cite, code, dfn, em, var { font-style:normal; font-weight:normal; }
li { list-style:none; }
caption, th { text-align:left; }
h1, h2, h3, h4, h5, h6 { font-size:100%; color:#333; }
q:before, q:after { content:''; }
abbr, acronym { border:0; font-variant:normal; }
sup { vertical-align:text-top; }
sub { vertical-align:text-bottom; }
input, textarea, select { font-family:inherit; font-weight:inherit; }
input, textarea, select { *font-size:100%; }
legend { color:#000; }
.clear { clear:both; height:0; line-height:0; font-size:0; visibility:hidden; }
 
body { font-size:12px; font-family:Verdana, Arial, Helvetica, sans-serif; color:#333; }
.clear { height:0; line-height:0; overflow:hidden; clear:both; visibility:hidden; }
input.text { height:20px; line-height:20px !important; background:#fff url(user/bg_inputtext.gif) repeat-x 0 0; border:1px solid #aaa; }
input.text:focus { background:#F0FFF5; border:1px solid #6bb044; }
input.button { cursor:pointer; padding:0.2em 0.2em 0.1em; text-align:center; }
a { color:#6bb044; }
a:hover { color:#ff9933; }
.caution { color:#ff9933; }
a.caution { color:#ff9933; }
.popup { padding-right:20px; background:url(user/popup.gif) no-repeat right 0; }
 
#outterWrapper { width:100%; }
#container { width:800px; margin:0 auto; }

#header { height:50px; width:800px; background:url(user/bg_header.png) no-repeat 0 0; margin-top:30px; position:relative; }
#header .subNavi { position:absolute; right:1px; bottom:13px; color:#ccc; }
#header .subNavi a { text-decoration:none; }
#header h1 { height:50px; width:800px;  background:url(user/bg_header.png) no-repeat 0 -100px; text-indent:-9999px; overflow:hidden; }
#header h1.bannerReg { background-position:0 -100px; }
#header h1.bannerSuc { background-position:0 -250px; }
#header h1.bannerValid { background-position:0 -300px; }
#header h1.bannerModifyMail { background-position:0 -350px; }
#header h1.bannerLogin { background-position:0 -150px; }
#header h1.bannerFindPass { background-position:0 -450px; }
#header h1.bannerManage { background-position:0 -200px; }
#header h1.bannerModifyPass { background-position:0 -400px; }
#header h1.bannerModifyAvatar { background-position:0 -500px; }
#header h1.bannerResetPass { background-position:0 -550px; }
 
#content { margin-top:15px; }
#main { margin:0 20px; }
#footer { margin-top:100px; padding-bottom:20px; }
#footer .copyright { text-align:center; line-height:150%; color:#999; }
#sideMain { float:left; width:490px; display:inline; }
#sideSub { float:right; width:260px; display:inline; }
 
.globalNotice { background:#fffce3; border:1px solid #ffeccb; padding:10px 20px; margin:0 -20px 20px; }
 
#regForm { margin-top:15px; }
#regForm li { margin-bottom:17px; }
#regForm li .f1 { width:75px; float:left; padding-top:3px; *padding-top:6px; }
#regForm li .f2 { float:left; width:185px; }
#regForm li .f3 { float:left; width:210px; padding-top:3px; *padding-top:6px; }
#regForm li .f4 { clear:both; padding-left:75px; color:#999; padding-top:3px; }
#regForm li .f1 strong { font-size:14px; }
#regForm li .f2 input.text { width:175px; }
 
#regForm li.validCode .f2 { width: 250px; margin-bottom:5px; }
#regForm li.validCode .f2 span { float:left; margin-right:5px; }
#regForm li.validCode .f2 span img { float:left; cursor:pointer; border:1px solid #ccc; }
#regForm li.validCode .f2 span a { margin:35px 0 0 5px; float:left; }
#regForm li.validCode .f5 input.text { width:175px; }
#regForm li.validCode .f5 { float:left; padding-left:75px; color:#999; width:185px;  }
#regForm li.agreement .f4 { overflow:hidden; zoom:1; *padding-left:72px; }
#regForm li.agreement .f4 .checkbox { float:left; margin-right:5px; *margin-right:0; }
#regForm li.agreement .f4 span { float:left; *margin-top:5px; }
#regForm .button { padding-left:75px; padding-top:10px; }
#regForm .valid { padding-left:15px; background:url(user/icon_valid.gif) no-repeat 0 3px; *background:url(user/icon_valid.gif) no-repeat 0 0; color:#6bb044; }
#regForm .button { padding-left:75px; padding-top:10px; }
#regForm .fail { padding-left:15px; background:url(user/icon_fail.gif) no-repeat 0 3px; *background:url(user/icon_fail.gif) no-repeat 0 0; color:#cc2200; }
#regForm #item_captcha{}
 
.regFlow ol { overflow:hidden; zoom:1; background:url(user/regflow.png) no-repeat 0 0; }
.regFlow ol.on01 { background-position:0 0; }
.regFlow ol.on02 { background-position:0 -30px; }
.regFlow ol.on03 { background-position:0 -60px; }
.regFlow ol li { float:left; width:86px; height:30px; overflow:hidden; text-indent:-9999px; }
 
 
.subNotice { background:#f5f5f5; margin-top:20px; padding:20px 23px 10px; color:#666; }
.subNotice p { margin-bottom:10px; overflow:hidden; zoom:1; }
.subNotice p img { float:left; }
.subNotice p a { float:left; margin-left:10px; display:inline; font-weight:bold; color:#666; }
 
.subNotice02 { margin-top:30px; padding:20px 23px 10px; color:#999; }
.subNotice02 p { margin-bottom:10px; overflow:hidden; zoom:1; }
.subNotice02 p img { float:left; }
.subNotice02 p a { float:left; margin-left:10px; display:inline; font-weight:bold; color:#666; }
 
.toReg { text-align: center; margin-top:20px; }
.ajaxInfo { border:1px solid #FFECCB; padding:5px 10px; width:310px; }
.ajaxInfoSuc { padding-left:30px; background:#FFFCE3 url(user/icon_valid.gif) no-repeat 10px center; }
.ajaxInfoFail { padding-left:30px; background:#FFFCE3 url(user/icon_fail.gif) no-repeat 10px center; color:#cc2200; }
 
#validMail { margin-top:17px; padding:0 10px 20px; }
#validMail p { font-size:14px; margin-bottom:30px; font-weight:bold; }
#validMail p.loginMail { margin-bottom:10px; }
#validMail p.notice { font-size:12px; color:#999; font-weight:normal; }
#validMail .changeMail .text { width:200px; }
#validMail p .text { font-weight:normal; }
#validMail p.button input.button { margin-left:110px; *margin-left:112px; }
#solution { border-top:1px solid #f0f0f0; padding:30px 10px 0; color:#666; margin-right:10px; }
#solution p { font-size:12px; margin-bottom:20px; font-weight:bold; }
#solution ol li { list-style-type:decimal; list-style-position:outside; margin:0 0 10px 25px; line-height:150%; }
#solution ul li { list-style-type:disc; list-style-position:outside; margin:0 0 10px 17px; line-height:150%; }
 
#regSuc { margin-top:50px; padding:0 10px 20px; }
#regSuc p { font-size:14px; margin-bottom:30px; font-weight:bold; }
#regSuc p.redirect { font-size:12px; font-weight:normal; color:#999; }
 
#loginFrame { background:url(user/bg_loginframe.png) no-repeat 0 0; width:408px; height:250px; position:relative; overflow:hidden; margin-top:30px; }
#loginFrame .ajaxInfo01 { border:1px solid #FFECCB; background:#FFFCE3; padding:5px 10px; width:260px; position:absolute; left:64px; top:20px; color:#C03; text-align:center; }
#loginFrame ul { margin:65px 0 0 65px; }
#loginFrame ul li { overflow:hidden; zoom:1; margin-bottom:20px; }
#loginFrame .f1 { float:left; font-size:16px; font-weight:bold; width:80px; font-family:"微软雅黑", Verdana, Geneva, sans-serif; letter-spacing:4px; } 
#loginFrame .f2 { float:left; width:200px; }
#loginFrame .f2 .text { width:200px; }
#loginFrame .login { text-align:center; }
#loginFrame .remember { margin:-15px 0 20px; }
#loginFrame .remember .f2 { margin-left:80px; display:inline; }
#loginFrame .remember .f2 span { float:left; }
#loginFrame .remember .f2 span .checkbox { margin:3px; *margin:0; }
#loginFrame .remember .f2 a { float:right; margin-top:3px; }
 
#pass { margin-top:17px; padding:0 10px 20px; }
#pass p { font-size:14px; margin-bottom:30px; font-weight:bold; overflow:hidden; zoom:1; }
#pass .findPass .f1 {width:75px; float:left; margin-top:3px; *margin-top:5px; }
#pass .findPass .f2 { width:190px; float:left; }
#pass .findPass .f2 .text { width:180px; font-weight:normal;  }
#pass .findPass .f2 img { padding:2px; border:1px solid #f0f0f0; }
#pass .findPass .f3 { float:left; display:block; width:200px; padding-top:3px; *padding-top:6px; font-size:12px; color:#999; font-weight:normal; }
#pass .findPass .f3 .valid { padding-left:15px; background:url(user/icon_valid.gif) no-repeat 0 3px; *background:url(user/icon_valid.gif) no-repeat 0 0; color:#6bb044; }
#pass .findPass .f3 .fail { padding-left:15px; background:url(user/icon_fail.gif) no-repeat 0 3px; *background:url(user/icon_fail.gif) no-repeat 0 0; color:#cc2200; }
 
#pass .findPass .f4 { display:block; clear:both; font-size:12px; color:#999; font-weight:normal; margin-left:75px; padding-top:3px; }
#pass .button input.button { margin-left:75px;  }
#pass p.notice { font-size:12px; color:#999; font-weight:normal; }

/*会员注册*/
#regForm { margin-top:15px; }
#regForm li { margin-bottom:17px; }
#regForm li .f1 { width:75px; float:left; padding-top:3px; *padding-top:6px; }
#regForm li .f2 { float:left; width:185px; }
#regForm li .f3 { float:left; width:210px; padding-top:3px; *padding-top:6px; }
#regForm li .f4 { clear:both; padding-left:75px; color:#999; padding-top:3px; }
#regForm li .f1 strong { font-size:14px; }
#regForm li .f2 input.text { width:175px; }
#regForm li.validCode .f2 { width: 250px; margin-bottom:5px; }
#regForm li.validCode .f2 span { float:left; margin-right:5px; }
#regForm li.validCode .f2 span img { float:left; cursor:pointer; border:1px solid #ccc; }
#regForm li.validCode .f2 span a { margin:35px 0 0 5px; float:left; }
#regForm li.validCode .f5 input.text { width:175px; }
#regForm li.validCode .f5 { float:left; padding-left:75px; color:#999; width:185px;  }
#regForm li.agreement .f4 { overflow:hidden; zoom:1; *padding-left:72px; }
#regForm li.agreement .f4 .checkbox { float:left; margin-right:5px; *margin-right:0; }
#regForm li.agreement .f4 span { float:left; *margin-top:5px; }
#regForm .button { padding-left:75px; padding-top:10px; }
#regForm .valid { padding-left:15px; background:url(user/icon_valid.gif) no-repeat 0 3px; *background:url(user/icon_valid.gif) no-repeat 0 0; color:#6bb044; }
#regForm .button { padding-left:75px; padding-top:10px; }
#regForm .fail { padding-left:15px; background:url(user/icon_fail.gif) no-repeat 0 3px; *background:url(user/icon_fail.gif) no-repeat 0 0; color:#cc2200; }
#regForm #item_captcha{}


.link_lan a:link {color: #0066CC;text-decoration: none;}
.link_lan a:visited {text-decoration: none;color: #0066CC;}
.link_lan a:hover {text-decoration: underline;color: #009900;}
.link_lan a:active {text-decoration: none;color: #0066CC;}
/*会员中心顶部*/
.head_top{ width:100%;  background:url(user/04.jpg); background-repeat:repeat-x; height:33px; z-index:100; position:relative}
.head_top_box{width:960px;  margin:0 auto;height:33px; line-height:33px;}
.head_top_box_left{width:450px;height:33px; float:left}
.head_top_box_right{width:510px;height:33px; float:left; position:relative}
.head { width:960px;  margin:0 auto;}
.head_logo { width:400px;  padding-left:10px; padding-top:8px;float:left; padding-bottom:10px;}
.head_logo_right { width:550px; float:left;  padding-top:15px; text-align:right}
/*会员中心导航*/
.nav_outer{ width:960px;margin:0 auto;}
.nav { font-size:14px;width:960px; height:27px;}
.nav li { width:95px; float:left; text-align:center;margin-right:4px; background-color:#000000}
.nav li a {display:block; height:23px; height:25px;padding-top:2px;color: #36699C;background-image:url(user/03.jpg);background-repeat:no-repeat;background-position:0px -28px;text-decoration: none;}
.nav a.selected {color: #FFFFFF; font-weight:bold;background-image:url(user/03.jpg);background-position:0px 0px;text-decoration: none;} 
.nav selected {background-position:0px 0px;}
.nav_bottom_left{ width:11px; height:38px; background-image:url(user/03.jpg); background-position:0px -56px;background-repeat:no-repeat; float:left;}
.nav_bottom_right{ width:11px; height:38px; background-image:url(user/03.jpg); background-position:right -56px;background-repeat:no-repeat; float:left;}
.nav_bottom_center {width:938px;float:left;height:28px; background-image:url(user/03.jpg);background-position:0px -94px; background-repeat:repeat-x; color:#D0E8F7; padding-top:10px;position:relative;}
.nav_bottom_center a { text-decoration: none;color: #FFFFFF; margin-right:15px;}
.nav_bottom_center a:hover {text-decoration: underline;}
/*form*/
.user_input { width:200px; padding:3px; vertical-align:middle;font-family:Arial, Helvetica, sans-serif; font-size:12px; height:16px; line-height:16px;border:1px   #7F9DB9 solid;}
.user_input_selsect{ background-image:url(user/09.gif); background-position:right center; background-repeat:no-repeat; cursor:pointer;}
.user_input_textarea { width:300px; height:80px; font-size:12px; line-height:180%; font-family:Arial, Helvetica, sans-serif; font-size:12px;}
.user_submit{ font-size:12px; width:95px; height:28px; background-image:url(user/23.gif); background-repeat:repeat-x; border:0px;}
.user_submit_on {background-image:url(user/23.gif); background-repeat:repeat-x; background-position:0px bottom}
.user_long_submit{ font-size:12px; width:115px; height:28px; background-image:url(user/27.gif); background-repeat:repeat-x; border:0px;}
.user_long_submit_on {background-image:url(user/27.gif); background-repeat:repeat-x; background-position:0px bottom}
/*会员中心导航-常用入口*/
.channel { width:70px; height:16px; text-align:right; padding-right:20px; position:absolute; right:0px; top:10px; background-image:url(user/31.gif); background-repeat:no-repeat; background-position:right 4px; cursor:pointer; z-index:1}
.channelshow{position:absolute; right:-5px; top:5px; display:none; color:#666666;z-index:1}
.channelshow .outer{ position:relative; width:115px;}
.channelshow .hovertitle{ height:17px; width:60px;text-align:right;padding-right:20px;  padding-top:5px;position:absolute; right:0px; top:0px; background-color:#FFFFFF; border:1px #C5DAE4 solid; border-bottom:1px #FFFFFF solid; z-index:20; background-image:url(user/31.gif); background-repeat:no-repeat; background-position:right -10px; cursor:pointer} 
.channelshow .channellist{position:absolute;right:0px;top:22px; width:110px; background-color:#FFFFFF;  border:1px #C5DAE4 solid; z-index:18; padding-top:5px; padding-bottom:5px;}
.channelshow .channellist li{ padding-left:10px; line-height:25px;}
/*会员中心左侧菜单*/
.left_menu_box {border:1px #C9D9E7 solid; margin-bottom:6px; width:163px;}
.left_menu_bg {background-image:url(user/08.gif); background-repeat:repeat-x; height:28px; line-height:28px; cursor:pointer}
.left_menu_tit{ color:#376BA6; font-size:14px;padding-left:15px; font-weight:bold; float:left; width:130px;}
.left_menu_img{ float:left; height:10px; padding-top:9px;}
.left_menu_btop {border-top:1px #C9D9E7 solid;}
.left_menu_btop li { background-image:url(user/05.gif); background-position:15px 10px;background-repeat:no-repeat; padding-left:26px; line-height:28px;}
/*会员中心右侧*/
.user_right_box{border:1px #C9D9E7 solid;}
.user_right_box h1 {color:#376BA6; font-size:14px;font-weight:bold; line-height:28px; padding-left:15px; margin:0px;}
.user_right_top_tit_bg{border-bottom:1px #C9D9E7 solid; background-image: url(user/08.gif); background-repeat:repeat-x; height:28px;}
.resume_right_box{ background-color:#F0F8FB; background-image:url(user/47.gif); background-repeat:repeat-y;}
.resume_right_on {border:1px #C9D9E7 solid; border-left:0px; background-color:#FFFFFF}
/*会员中心首页*/
.avatars_edit{ position:absolute; bottom:0px; left:0px; height:23px; width:100%; text-align:center; background-color: #CCCCCC; color: #666666; font-size:12px; display:none; line-height:23px;}
.us_index_title{ font-size:14px; padding-left:10px; font-weight:bold; color:#006699}
.us_index_list li{ padding-left:10px; line-height:20px;}
.us_index_setmeal{padding:10px; line-height:220%}
.us_index_setmeal span{ color:#009900}
/*列表*/
.us_list_title{ color: #333333; font-weight:bold; }
.us_list{ border-bottom:1px  #DBE3EC  dashed; color:#666666}
.us_list_no_content {width:97%;margin:0 auto; margin-top:10px; line-height:240%;border-bottom:1px #CCCCCC dashed;border-top:1px #CCCCCC dashed;}
.us_list_tip {width:93%;margin:0 auto; border:1px #A9C8E4 solid; background-color: #ECFBFF; height:28px; line-height:28px; color:#666666; margin-bottom:6px; background-image:url(user/24.png); background-repeat:no-repeat; padding-left:25px; background-position:5px 7px;}
.us_list_tip span{ color:#FF0000}
/*-----分页样式--------*/
.page {text-align:center; margin-top:15px; margin-bottom:15px;}
.page a {border: 1px solid #dddddd;display:block;height:23px; line-height:23px; margin-right:5px; float:left;padding-left:6px; padding-right:6px;  }
.page a:hover { border:1px #0066CC solid; color: #0066CC}
.page a.select{ border: 1px solid #0066CC; background-color:#0066CC; color:#ffffff; }
.page span {border: 1px solid #dddddd;display:block;height:23px; line-height:23px; margin-right:5px; float:left;padding-left:6px; padding-right:6px;  }

.us_tab { width:97%;margin:0 auto; margin-top:10px; margin-bottom:10px; background-image: url(user/02.gif); background-position:0px bottom; background-repeat:repeat-x; height:30px;}
.us_tab a { display:block; width:90px; height:28px; text-align:center; float:left; margin-left:8px; border:1px #CDE3F3 solid; background-color:#F1FBFE;line-height:28px; margin-bottom:0px; color:#666666;text-decoration: none;}
.us_tab a:hover { background-color: #F7FBFD;}
.us_tab .select {  background-color:#FFFFFF; border-bottom:1px #FFFFFF solid; font-weight:bold}
.us_tab a span{ color: #0099CC; padding-left:5px; font-weight:100; font-size:12px;}
/*底部*/
.footer {width:930px; text-align:center; padding:15px; line-height:180%; font-size:12px; margin:0 auto;}